body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.bottom-container {
	background-color: blue;
	height: 200px;
	width: 200px;
}

.middle-container {
	background-color: red;
	height: 200px;
	width: 200px;
}

.top-container {
	background-color: lightgreen;
}
